@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nanum+Gothic&family=Ropa+Sans&display=swap');

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header Start **********************************************/

header {
    text-transform: uppercase;
    margin-top: 100px;
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #745B99;
}

header h1 {
    display: inline-block;
    margin-right: 80px;
    font-weight: 700;
    font-size: 50px;
}

header i {
    font-size: 60px;
    border-radius: 60px;
    box-shadow: 0 0 0 15px #e6e5e5;
}

.not-active {
    color: #cac8c8;
}

/* Header End **********************************************/

/* Carousel start **********************************************/

.carousel {
    height: 450px;
    width: fit-content;
    padding: 0 100px;
    margin-bottom: 35px;
    overflow-x: auto;
    white-space: nowrap;
}

/* Cards */
/* 
Cards are made by outling the card dimensions, filling that with a background image to make positioning elements easier, 
a font awesome i element is used for the icon positioned in the top right using position absolute with position relative on the containing div,
h2, h5 elements are used for the heading and subheading of the card, using position absolute they are brought out of the normal flow, positioned at the bottom of the div 
*/
.card {
    position: relative;
    width: 380px;
    height: 450px;
    margin-right: 30px;
    display: inline-block;
    white-space: normal;
    background-color: #745B99;
}

.card h1, h2, h5, h6 {
    color: #fff;
    margin: 0;
    text-align: center;
    width: 100%;
}

.card h2 {
    bottom: 70px;
}

.card h5 {
    color: #E3E8F1;
    bottom: 30px;
    text-transform: uppercase;
}

/* News cards are the standard card for this project, and don't need too many specific styles */

.news-card h2, h5 {
    position: absolute;
}

/* News Icons Colours */

.fa-wifi{
    color: #745B99;
}

.fa-twitter{
    color: #1DA1F2;
}

.fa-instagram{
    color: #BC2A8D;
}

/* News background image classes */

.laptop-b-img {
    background-image: url(../images/laptop.jpg);
}

.latest-news-b-img{
    background-image: url(../images/lastest-news.jpg);
}

.stack-of-papers-b-img{
    background-image: url(../images/stack-of-papers.jpg);
}


/* 
The events card are similar in most ways to the standard news card 
but are in need of more detailed stylings, including height adjustment 
*/

.events-card {
    height: 380px;
}

.events-card h1 {
    margin: 70px auto 50px auto;
    padding: 40px 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

/* The ring is taken out of normal flow and positioned behind the h1 tag, rgba values are used to make the hover transition simpler */

.ring {
    border: 30px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: 130px;
    width:70px;
    height: 70px;
}

.events-card h2 {
    width: 200px;
    margin: auto;
}

.events-card h6, i {
    display: inline;
    color: rgba(255, 255, 255, 0.2);
}

.events-card h6 {
    width: fit-content;
    margin: 0 7px;
    text-transform: uppercase;
}

.events-time { 
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.card-icon {
    font-size: 20px;
    width: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: #fff;
    padding: 15px;
    display:flex;
    justify-content: center;
}

/* Carousel End **********************************************/

/* View All News Footer Start */

.view-all-news {
    display: flex;
    justify-content: center;
}

.view-all-news button {
    background-color: #281838;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding: 15px 45px;
    cursor: pointer;
}

/* View All News Footer End */
